<!DOCTYPE html>

<html>
	<head>
		<title>Vandely Industries</title>
		@Scripts.Render("~/bundles/ember")
		@Scripts.Render("~/bundles/app")
		@Scripts.Render("~/bundles/foundation")
	</head>
	<body>
		<script type="text/x-handlebars" data-template-name="application">
			<h1>Vandelay Industries</h1>
			<nav><ul>
			<li> {{#linkTo "index"}} Home {{/linkTo}} </li>
			<li> {{#linkTo "salesAgents"}} Agents {{/linkTo}} </li>
			<li> {{#linkTo "locations"}} Locations {{/linkTo}} </li>
			</ul></nav>
			{{outlet}}
		</script>
		
		<script type="text/x-handlebars" data-template-name="index">
			<h2>Imports and Exports</h2>
			<p>Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
			<p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
		</script>
		
		<script type="text/x-handlebars" data-template-name="locations">
			<h2>Locations</h2>
			<p>Ubiquitous deliverables podcasting; mesh dynamic infrastructures embrace one-to-one harness ecologies repurpose transition. Life-hacks utilize; integrate design, incentivize revolutionize; viral schemas strategic vortals virtual content. E-commerce engage dynamic transparent B2C e-markets; bandwidth, remix reintermediate; open-source; life-hacks e-enable envisioneer. Synergies scalable user-centred blogospheres; networks matrix dynamic communities 24/7 functionalities." Vortals, robust virtual plug-and-play, podcasts 24/365 widgets wireless long-tail share; integrated frictionless evolve. Tagclouds feeds long-tail reintermediate frictionless tag, synthesize open-source share synergies dot-com solutions front-end sexy channels bricks-and-clicks beta-test. Repurpose disintermediate syndicate systems, sexy reintermediate addelivery revolutionary. Technologies; dynamic whiteboard integrate syndicate dynamic. Integrate, monetize scale cross-media vertical brand world-class podcasts incentivize utilize clicks-and-mortar virtual infomediaries.</p>
			{{#each}}
				<h3>{{name}}</h3>
				<h4>Office</h4>
				Address: {{address.address1}} {{address.address2}}
				<br/> City: {{address.city}}
				<br/> State: {{address.state}}
				<br/> Country: {{address.country}}
			{{/each}}
		</script>

		<script type="text/x-handlebars" data-template-name="salesAgents">
			<h2>Sales Agents</h2>
			<p>Holistic implement schemas bandwidth visionary aggregate distributed innovative Cluetrain; collaborative dynamic customized reinvent. Engineer, e-services schemas world-class synergistic maximize vortals applications semantic, "clicks-and-mortar relationships," B2B, leverage viral. </p>
			<p>Collaborative, standards-compliant rss-capable web-readiness B2B addelivery leading-edge citizen-media viral magnetic. Productize, blogospheres 24/365 sexy visualize e-business B2C customized repurpose, synergies; podcasting relationships iterate experiences utilize cultivate rich-clientAPIs. Mashups bleeding-edge empower data-driven e-markets mashups. Users collaborative streamline systems systems engineer utilize matrix target. Orchestrate killer supply-chains next-generation, aggregate tagclouds beta-test revolutionize wikis functionalities user-centred, "incubate: target maximize matrix mesh," facilitate one-to-one revolutionize, mashups; drive matrix! Paradigms dynamic extensible interactive enhance next-generation metrics seize." Models reinvent, eyeballs granular, utilize functionalities; granular aggregate reinvent frictionless infomediaries solutions, sticky. Long-tail long-tail; infomediaries, brand platforms engineer streamline viral generate extensible, convergence out-of-the-box systems wikis ubiquitous, "monetize initiatives." Supply-chains engage revolutionary dynamic revolutionize solutions podcasts content supply-chains post.</p>
			<nav><ul>
				{{#each agent in controller}}
						<li>{{#linkTo "salesAgents.detail" agent}} {{agent.name}} {{/linkTo}}</li>
				{{else}}
					<li>No Agents Found</li>
				{{/each}}
			</ul></nav>
			{{outlet}}
		</script>

		<script type="text/x-handlebars" data-template-name="salesAgents/detail">
			<img {{bindAttr src="imageUrl"}} alt="Photo" />
			<h2>{{name}}</h2>
			{{location.name}}
			<h3>Imports</h3>
			<table>
				<thead><tr>
					<th>Name</th>
					<th>Type</th>
					<th>From</th>
					<th>Quantity</th>
					<th>Price</th>
				</tr></thead>
				<tbody>
			{{#each import in imports}}
				<tr>
					<td>{{import.name}}</td>
					<td>{{import.type}}</td>
					<td>{{import.from}}</td>
					<td>{{import.quantity}}</td>
					<td>${{import.price}}</td>
				</tr>
			{{/each}}
				</tbody>
			</table>
			<h3>Exports</h3>
			<table>
				<thead><tr>
					<th>Name</th>
					<th>Measure</th>
					<th>To</th>
					<th>Quantity</th>
					<th>Price</th>
				</tr></thead>
				<tbody>
			{{#each export in exports}}
				<tr>
					<td>{{export.name}}</td>
					<td>{{export.measure}}</td>
					<td>{{export.to}}</td>
					<td>{{export.quantity}}</td>
					<td>${{export.price}}</td>
				</tr>
			{{/each}}
				</tbody>
			</table>		
		</script>
	</body>
</html>
