<!DOCTYPE html>

<html>
	<head>
		<title>Vandely Industries</title>
		@Scripts.Render("~/bundles/ember")
		@Scripts.Render("~/bundles/app")
	</head>
	<body>
		<script type="text/x-handlebars" data-template-name="application">
			<h1>Vandelay Industries</h1>
			{{outlet}}
		</script>
		
		<script type="text/x-handlebars" data-template-name="index">
			<h2>Imports and Exports</h2>
			<p>Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
			<p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
		</script>
	</body>
</html>
