<div ng-controller="SalesAgentCtrl">
    <h3>Sales Agents</h3>
    <div>
        <ul ng-repeat="agent in agents">
            <li>{{ agent.name }} - {{ agent.location }} <button ng-click="delete(agent)">Delete</button></li>
        </ul>
    </div>
    <div>
        <form ng-submit="save()" ng-model="agent">
            <div class="control-group">
                <label>Name: <input ng-model="agent.name" /></label>
            </div>
            <div class="control-group">
                <input type="submit" id="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

<div ng-controller="LocationCtrl">
    <h3>Locations</h3>
    <div>
        <ul ng-repeat="location in locations">
            <li>{{ location }} <button ng-click="delete(location)">Delete</button></li>
        </ul>
    </div>
    <div>
        <form ng-submit="save()" ng-model="location">
            <div class="control-group">
                <label>Name: <input ng-model="location.name" /></label>
            </div>
            <div class="control-group">
                <label>Address: <input ng-model="location.address.address1" /></label>
            </div>
            <div class="control-group">
                <label>&nbsp;<input ng-model="location.address.address2" /></label>
            </div>
            <div class="control-group">
                <label>City: <input ng-model="location.address.city" /></label>
            </div>
            <div class="control-group">
                <label>State: <input ng-model="location.address.state" /></label>
            </div>
            <div class="control-group">
                <label>Country: <input ng-model="location.address.country" /></label>
            </div>
            <div class="control-group">
                <label>Jurisdiction:
                    <select ng-model="location.jurisdiction">
                        <option ng-repeat="jurisdiction in jurisdictions" value="{{ jurisdiction.value }}">
                          {{ jurisdiction.displayName }}
                        </option>
                    </select>
                </label>
            </div>
            <div class="control-group">
                <input type="submit" id="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
